configs:
  sagemaker-daily-1-with-time-features:
    notes: 'todo - run in progress'
    features:
      - open
      - close
      - high
      - low
      - trade_count
      - volume
      - vwap
      - day_of_week
      - day_of_month
      - month
      - year
    train_start: "2020-01-01"
    train_end: "2024-01-01"
    val_end: "2025-01-01"
    test_end: "2026-01-01"
    max_lookback_period: 60
    max_prediction_length: 2
    accelerator: 'mps'
    devices: 1
    num_workers: 4
    batch_size: 2048
    hidden_size: 8
    attention_head_size: 1
    dropout: 0.1
    hidden_continuous_size: 4
    lstm_layers: 1
    learning_rate: 0.0001
    max_epochs: 50
    time_frame_unit: 'Day'
    time_frame_amount: 1
    reduce_on_plateau_patience: 5
    _instance_type: 'ml.g4dn.xlarge'
    _instance_count: 1
    _run_time: '2 hours 54 minutes'
  m1-simple-daily-1-with-time-features:
    notes: 'same config as sagemaker-daily-1-with-time-features'
    features:
      - open
      - close
      - high
      - low
      - trade_count
      - volume
      - vwap
      - day_of_week
      - day_of_month
      - month
      - year
    train_start: "2020-01-01"
    train_end: "2024-01-01"
    val_end: "2025-01-01"
    test_end: "2026-01-01"
    max_lookback_period: 60
    max_prediction_length: 2
    accelerator: 'mps'
    devices: 1
    num_workers: 4
    batch_size: 2048
    hidden_size: 8
    attention_head_size: 1
    dropout: 0.1
    hidden_continuous_size: 4
    lstm_layers: 1
    learning_rate: 0.0001
    max_epochs: 50
    time_frame_unit: 'Day'
    time_frame_amount: 1
    reduce_on_plateau_patience: 5
    _performance_test_1:
      _test_strategy: SimpleXDaysAheadBuying
      _test_range: '2025-01-01 - 2026-01-01'
      _interval_days: 1
      _num_stocks_purchased: 10
      _capital_gains_tax: 0.35
      _compound_money: True
      _dont_buy_negative_stocks: True
      _money_made: 31654.47733449361
      _annual_sharpe: 1.259373999335678
    _performance_test_2:
      _test_strategy: SimpleXDaysAheadBuying
      _test_range: '2025-01-01 - 2026-01-01'
      _interval_days: 1
      _num_stocks_purchased: 50
      _capital_gains_tax: 0.35
      _compound_money: True
      _dont_buy_negative_stocks: True
      _money_made: 29801.7421875
      _annual_sharpe: 0.9265755108663594
    _performance_test_3:
      _test_strategy: SimpleXDaysAheadBuying
      _test_range: '2025-01-01 - 2026-01-01'
      _interval_days: 1
      _num_stocks_purchased: 50
      _capital_gains_tax: 0.35
      _compound_money: True
      _dont_buy_negative_stocks: True
      _money_made: 29698.55089229681
      _annual_sharpe: 1.00150936976123

